

body, html{
    background-color: rgba(255, 235, 201, 1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #DCD7C9;
    padding: 0;
    margin: 0;
    
    
}

.title{
    color: rgba(255, 235, 201, 1);
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
}

.title_loader{
  color:#74372b;
  font-size: 50px;
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
  transform: translateY(250px);
}

/*\

Header

*/

.header{
    background: rgba(117, 52, 34, 1);
    padding-top: 0.5rem;
}

.container{
    color: rgba(255, 235, 201, 1);
    padding-top: 0.5rem;
    width: 80%;
    margin: 0 auto;
}

.navbar ul  {
    list-style-type: none;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    text-transform:uppercase ;
}

.navbar ul li{
        display: inline-block;
        margin:  0 20px 10px 0;
    /*  background-color: #3B3030; */
        padding: 0.3rem;
        border-radius: 15px;       
}


a{
    text-decoration: none;
    color: rgba(255, 235, 201, 1);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
}

.navbar ul li:hover {
  background: #B05B3B;
  transition: 0.4rem;
}

.content{
    background-color: rgba(215, 151, 113, 1);
    padding: 40px 0;

  
}

.after_content, .principal_sub{
  /* background-color: #664343; */
  text-align: center;
 
}

.content_frase{
    padding: 50px 0;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


.principal_sub{
    font-size: 50px;
    color: rgba(246, 252, 223, 1);
   /*  background-color: black;*/
   font-family: "Playwrite HU", cursive; 
    font-optical-sizing: auto;
    margin-bottom: -24px;
}

.second_sub{
  font-size: 20px;
  color: rgba(246, 252, 223, 1);
 /*  background-color: black;*/
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;

  text-align: left;
  padding-left: 466px;
  /* background-color: #666143; */
}

.gallery{
    padding: 50px ;
}

.gallery .images{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background-color: #74372b; */
}

.gallery .images2{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .images2 img {
    position: relative;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}


/*para buyacoffee*/

.content_img{
    position: relative;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}

.card0{
    position: absolute; /* Permite superponer las tarjetas */
    width: 100%; /* Ancho de las tarjetas */
    height: 100%; /* Altura de las tarjetas */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s;
}

.pict{
    width: 100%;
    height: auto;
}

.card1, .card2, .card3,  .card4{
    position: relative;
    width: 300px;
    padding: 20px;
    border: 1px solid #00000000;
    border-radius: 10px;
    background-color: #00000000;
   /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.3s;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover {
    transform: scale(1.05);
    
    
}

.text{
    display: none;
    margin-top: 10px;
    color: #FFF0D1;
}

.gallerytext{

  color: rgba(117, 52, 34, 1);
 /* background-color: #e3c414; */
  /**/ margin: 20px 0 -40px 0;
  /*padding-left: -200px ; */

}

.beforegallery{
  text-align: center;
  margin: 0 40px;
 /* background-color: #000; */
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover .text{
    display: block;
}

/*fin de la parte buyacoffee*/

.gallery .images img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}



.cards{
    transition: transform 0.3s ease-in-out;
    filter: blur(0px);
  }

.cards:hover{
   /* box-shadow:  3px 6px 10px 0 rgba(0, 0, 0, 0.70);*/
    transform: scale(1.05);
    filter: blur(0px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



footer {
    color: #FFF0D1;
    padding: 30px 0;
    margin-top: 50px;
    text-align: center;
    background-color: #664343;
}


.wrapper {
    position: relative;
    width: 100%;
    height: 50%;
    padding: 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 18px;
  }
  
  .card {
    position: relative;
    width: 325px;
    height: 490px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }
  
  .poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: grayscale(0%);
    
  }
  
  .poster:hover {
    filter: grayscale(100%)
    
  }
  
  .poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
    filter: grayscale(0%);
  }
  
  .card:hover .poster::before {
    bottom: 0;
    
  }
  
  .poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
  }
  
  .card:hover .poster img {
    transform: scale(1.1);
    filter: grayscale(100%);
  }
  
  .details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    
    z-index: 2;
  }
  
  .card:hover .details {
    bottom: 0;
  }
  
  .details h1,
  .details h2 {
    font-weight: 700;
  }
  
  .details h1 {
    font-size: 1.0em;
    margin-bottom: 5px;
  }
  
  .details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
  }
  
  .details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
  }
  
  .details .rating i {
    color: #e3c414;
  }
  
  .details .rating span {
    margin-left: 0.25em;
  }
  
  .details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
  }
  
  .details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
  }
  
  .details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
  }
  
  .details .cast h3 {
    margin-bottom: .5em;
  }
  
  .details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
  }
  
  .details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
  }
  
  .details .cast ul li img {
    width: 100%;
    height: 100%;
  }
  
  

  /*Loader*/

.before_loader{
  background-color: rgba(255, 235, 201, 1);
  height: 100%;
  width: 100%;
}


.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1;
  background-color: rgba(255, 235, 201, 1);
  background-size: 1px;

}
.loader .container {
  width: 300px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader .container .coffee-header {
  padding: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddcfcc;
  border-radius: 10px;
}
.loader .container .coffee-header__buttons {
  width: 25px;
  height: 25px;
  background-color: #282323;
  border-radius: 50%;
  box-shadow: 40px 0 0 0 #282323;
}
.loader .container .coffee-header__buttons::before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  transform: translate(100%, 25px);
  background-color: #615e5e;
  box-shadow: 40px 0 0 0 #615e5e;
}
.loader .container .coffee-header__display {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-color: #D79771;
  border: 5px solid #B05B3B;
  box-sizing: border-box;
}
.loader .container .coffee-header__details {
  width: 8px;
  margin-left: 16px;
  height: 20px;
  align-self: flex-start;
  background-color: #9b9091;
  box-shadow:
    -12px 0 0 #9b9091,
    -24px 0 0 #9b9091;
}
.loader .container .coffee-medium {
  width: 90%;
  height: 160px;
  position: relative;
  background-color: #bcb0af;
}
.loader .container .coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: 5%;
  border-radius: 20px 20px 0 0;
}
.loader .container .coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.loader .container .coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.loader .container .coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.loader .container .coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.loader .container .coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.loader .container .coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #fff;
  border-radius: 0 0 70px 70px/0 0 110px 110px;
}
.loader .container .coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.loader .container .coffee-medium__liquid {
  width: 6px;
  height: 63px;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: transparent;
  overflow: hidden;
}
.loader .container .coffee-medium__liquid::before {
  transform: translateY(-100%);
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #74372b;
  animation: liquid 800ms linear 500ms infinite normal both;
}
.loader .container .smoke {
  opacity: 0;
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}
.loader .container .smoke.one {
  bottom: 30px;
  left: 102px;
  animation: smoke 3s 5s linear infinite;
}
.loader .container .smoke.two {
  bottom: 40px;
  left: 118px;
  animation: smoke 3s 4s linear infinite;
}
.loader .container .smoke.three {
  bottom: 40px;
  right: 118px;
  animation: smoke 3s 7s linear infinite;
}
.loader .container .smoke.four {
  bottom: 30px;
  right: 102px;
  animation: smoke 3s 6s linear infinite;
}
.loader .container::after {
  content: "";
  width: 95%;
  height: 15px;
  background-color: #B05B3B;
  box-shadow: 0 15px 0 5px #000;
  border-radius: 10px;
}

@-webkit-keyframes smoke {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes smoke {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.3;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}
@-webkit-keyframes liquid {
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes liquid {
  10% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

















/*Responsivo*/

/*

  @media screen and (min-width: 1024px) {
   
    .principal_sub{
      font-size: 30px;
      padding-bottom: 5px;
    }

    .second_sub{
      font-size: 20px;
    }
    
  
}

*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
   
    .principal_sub{
      font-size: 20px;
      padding-bottom: 10px;
    }

      .second_sub{
      padding-left: 312px;
      margin-top:18px;
      font-size: 10px;
      
    }


    .title {
        font-size: 40px;
    }

    .gallery .images img, .gallery .images2 img {
        max-width: 300px;
    }

  
}


@media screen and (max-width: 767px) {
   /* .content p, .principal_sub {
        width: 90%;
    }
*/
    .principal_sub{
    
      font-size: 10px;
      
    }

    .second_sub{
      padding-left: 288px;
      margin-top:25px;
      font-size: 5px;
      
    }

    .title {
      font-size: 30px;
    }

    .navbar ul li {
      display: block;
      margin-bottom: 10px;
    }

    .gallery .images img, .gallery .images2 img {
        max-width: 100%;
    }

    .content{
      padding: 20px 0;
      margin-left: -90px;
    }

}
